<div class="d-flex align-items-center justify-content-between">
  <mat-form-field appearance="outline">
    <mat-label>Character</mat-label>
    <input type="text" matInput [formControl]="characterControl" placeholder="Character">
    <mat-hint>Fill 20% of the grid with this character</mat-hint>
  </mat-form-field>

  <button type="button" mat-flat-button color="primary" (click)="generateGrid()" [disabled]="buttonDisabled$ | async">
    Generate 2D Grid
  </button>
</div>

<table class="mt-4">
  <tr *ngFor="let row of grid$ | async">
    <td *ngFor="let cell of row">{{ cell }}</td>
  </tr>
</table>

<div class="d-flex justify-content-center mt-4" *ngIf="code$ | async as code">
  <div class="code">Your code: {{ code }}</div>
</div>
