<div class="d-flex align-items-center justify-content-between">
  <mat-form-field appearance="outline">
    <mat-label>Character</mat-label>
    <input
      type="text"
      matInput
      maxlength="1"
      placeholder="Character"
      [ngModel]="character$ | async"
      (ngModelChange)="setCharacter($event)"
      [disabled]="(characterDisabled$ | async) === true"
    >
    <mat-hint>Fill {{ characterWeight | percent }} of the grid with this character</mat-hint>
  </mat-form-field>

  <button type="button" mat-flat-button color="primary" (click)="generateGrid()" [disabled]="buttonDisabled$ | async">
    Generate 2D Grid
  </button>
</div>

<table class="mt-4">
  <tr *ngFor="let row of grid$ | async">
    <td *ngFor="let cell of row">{{ cell }}</td>
  </tr>
</table>

<div class="d-flex justify-content-center mt-4">
  <app-code></app-code>
</div>
